.sidebar__item {
    border: 2px solid #6b8e23;
    border-radius: 10px;
    margin: 5px 20px 5px 20px;
}

.sidebar__item:hover {
    border-color: #ff9933;
    color: #ff9933 !important;
}

.sidebar__item a {
    color: #6b8e23;
}

.sidebar__item a:hover {
    color: #ff9933;
}

.active-sidebar-link {
    color: black !important;
    background-color: #6b8e23;
}

.active-sidebar-link a {
    color: black !important;
}

.active-sidebar-link:hover {
    background-color: #ff9933;
}
